{
  "katikon.host": "{{ katikon_host }}"
  "katikon.port":  {{ katikon_port }},
  "katikon.database": "{{ katikon_database }}",
  "katikon.user": "{{ katikon_user }}",
  "katikon.password": "{{ katikon_password }}",
  "katikon.ssl": {{ katikon_ssl }},
  "katikon.sslfactory": "{{ katikon_sslfactory }}"
}