{
  "katikon.host": {{ katikon.host }}
  "katikon.port":  {{ katikon.port }},
  "katikon.database": {{ katikon.database }},
  "katikon.user": {{ katikon.user }},
  "katikon.password": {{ katikon.password }},
  "katikon.ssl": {{ katikon.ssl }},
  "katikon.sslfactory": {{ katikon.sslfactory }}
}